body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2600ff;
    color: white;
    text-align: center;
    padding: 10px;
}
section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artista {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.artista img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.propiedad-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.propiedad-card button:hover {
    background-color: #000000;
}

#contacto {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
}

#contacto h2 {
    text-align: center;
    margin-bottom: 6rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

imput, textarea {
    padding: .8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

form button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6b6b;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: rem;
}
